this project was challenge for myself in python (extract dataset, cleaning, load to sql) and SQL (connect with pyhon, analyze data)

In [ ]:
#install kaggle library
pip install kaggle

In [ ]:
#connect to kaggle via token
import os
os.environ["KAGGLE_API_TOKEN"] = "yourkaggletoken"

In [ ]:
#retrieve kaggle dataset
!kaggle datasets list -s ankitbansal06

In [ ]:
#download dataset and unzip
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv --unzip

appearently, file fail to unzip

In [ ]:
#unzip file
import zipfile

zipref = zipfile.ZipFile('orders.csv.zip')
zipref.extractall()

In [ ]:
#read the data, quick check
import pandas as pd

df=pd.read_csv("orders.csv")
df.head(50)

In [ ]:
#rename columns name
df.columns=df.columns.str.lower().str.replace(' ', '_')
df.columns

In [ ]:
#check null existance
df.isnull().sum()

found null value and unstandardize value from quick check

In [ ]:
#spotting null value
df[df.isnull().any(axis=1)]

In [ ]:
#spotting unstandardized value
df['ship_mode'].unique()

In [ ]:
#null-if unstandardized value
df['ship_mode']=df['ship_mode'].replace(['Not Available', 'unknown'], pd.NA)
df['ship_mode'].unique()

NA for pandas and nan for numpy
to uniforming null values, import numpy and turn those values into np.nan

In [ ]:
#null check
df.isnull().sum()

In [ ]:
#inspect datatypes
df.dtypes

found mismatch data type "order_date" as object rather than date

In [ ]:
#converting to date
df['order_date']=pd.to_datetime(df['order_date'], format="%Y-%m-%d")
df.dtypes

In [ ]:
#start working on the table
df.head()

In [ ]:
#gerate discount value
df['discount']=df['list_price']*df['discount_percent']*0.01
df

In [ ]:
#generate final_price
df['final_price']=df['list_price']-df['discount']
df

In [ ]:
#generate total_cost, net_revenue, and profit
df['total_cost']=df['cost_price']*df['quantity']
df['net_revenue']=df['final_price']*df['quantity']
df['profit']=df['net_revenue']-df['total_cost']
df

In [ ]:
df.columns

In [ ]:
#load clean dataset to SQL, import tools
!pip install psycopg2-binary sqlalchemy
from sqlalchemy import create_engine

for convenience, prepared existing blank table in SQL already

In [ ]:
#create connection to PostgreSQL and connect it
engine = create_engine(
    "postgresql+psycopg2://user:yourpassword@yourhost:yourserver/yourexistingdb"
)

engine.connect()

syntax "postgresql+psycopg2://user:yourpassword@yourhost:yourserver/yourexistingdb"

In [ ]:
#check the connection
pd.read_sql("SELECT 1;", engine)

appearing 1 means connected

In [ ]:
#export dataset to predefined SQL table
df.to_sql(
    name="retail_orders",
    con=engine,
    if_exists="append",
    index=False
)

In [ ]:
#test the result and connection
pd.read_sql("SELECT * FROM retail_orders LIMIT 5;", engine)

if the result is correctly appeared, the export success

continue the work on PostgreSQL